<!DOCTYPE html>
@{ Layout = "~/Views/Shared/_LayoutTest.cshtml";}
@{
    
}
<body>  
 	<form class="form1">
		<input type="text" required>
		<label class="er_lbl-nombre">
			<span class="er_text-nomb">Nombress</span>
		</label>
	</form>
	<div>
		<row>
		<h1>test</h1>
		<input type="text" required>
		<label class=" -nombre">
			<span class="   ">Nombress</span>
		</label>
		</row>
	</div>
</body>

 

