<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<script src="~/js/main.js"></script>*@
    <script src="~/js/VueMain.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/webBusines.css" />
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue@3.0.3/dist/vue.global.prod.js"></script>
    <title>PUBLIC BUSINESS</title>

    <!-- Bootstrap core CSS -->
 
    <link href="/publicBusiness/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontsawesome core CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Additional CSS Files -->
    <link href="/css/carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="/publicBusiness/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/publicBusiness.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/animated.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/owl.css">

        
    <link rel="stylesheet" href="/publicBusiness/assets/css/login_register.css">
    <div class="container">   
      <!-- Modal -->
      <div class="modal" id="myModal" >
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" >
                    <div class="box"  >
                        <h1>Ingresar</h1>
                            <div id="">
                                <label class="col-md-12" style="color:#FF0000" id="labelLogin"></label>
                               
                            <v-form id="example-1"  >
                                <div style="color:#0094ff" v-if="resp.text  == '4' || resp.text=='5'  ">{{ resp.content }}</div>
                                <div style="color:#0094ff" v-if="resp.text  == '1'">{{ resp.content }}</div>   
                                <input id="email" v-model="usuario.email" value="" type="text" name="email" placeholder="Email" > 
                                <div style="color:#0094ff" v-if="resp.text  == '2'  ">{{resp.content}}</div>
                                <input id="password" v-model="usuario.password" value="" type="password" name="password"placeholder="Contraseña"> 
                                <a  v-on:click="procesarS" type="submit" class="btn btn-primary" id="btnLogin" >Ingresar</a>     
                             
                            </v-form>
                            </div> 
                        <div class="col-md-12 modal-footer">
                            <ul class="social-network social-circle" >
                                <br>                                    
                                <a   class="active"  data-dismiss="modal" data-toggle="modal" data-target="#modalRegistroUsuario" id="custom-modal"  ><b type="button" data-dismiss="myModal">Registrarse</b></a>
                            </ul>                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
     
      </div>
        <div class="modal" id="modalRegistroEmpresa" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="box">
                                 <h1 class="white-button">Registrar Empresa</h1>
                                  <v-form id="RegistroEmpresaForm" >
                     
                                    <div style="color:#0094ff" v-if="resp.Error  == 'Email'">{{ resp.Message }}</div> 
                                    <input id="email" v-model="empresa.Email" value="" type="text" name="email" placeholder="Email" > 
                                    <div style="color:#0094ff" v-if="resp.Error  == 'NombreComercial'">{{ resp.Message }}</div>                                
                                    <input type="text" v-model="empresa.NombreComercial" name="NombreComercial" placeholder="Nombre Comercial">
                                    <div style="color:#0094ff" v-if="resp.Error  == 'Telefono'">{{ resp.Message }}</div>
                                    <input type="text" v-model="empresa.Telefono" name="Telefono" placeholder="Telefono"> 
                                     <div style="color:#0094ff" v-if="resp.Error  == 'Contraseña'">{{ resp.Message }}</div>
                                    <input type="password" v-model="empresa.Password" name="Contraseña"placeholder="Contraseña">
                            
                                    <button type="submit" class="btn btn-dark"  >
                                        <div >
                                         <a  v-on:click="createEmpresa"  class="btn btn-primary btn-user btn-block">
                                        Registrarse
                                        </a>
                                        </div>                                
                                    </button>                       
                                    <div class="col-md-12 modal-footer">
                                        <ul class="social-network social-circle" >
                                            <br>                                    
                                            <a type="button" class="main-white-button" data-dismiss="modal"><b >Cerrar</b></a>
                                        </ul>
                                  
                                    </div>
                    
                            </v-form>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
              </div>
     
        </div>
        <div class="modal" id="modalRegistroUsuario" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="box" >
                                <h1>Registrar</h1>
                                <v-form id="RegistroUserForm">
                                    <div style="color:#0094ff" v-if="resp.Error  == 'Nombre'">{{ resp.Message }}</div>
                                    <input type="text" v-model="user.Nombre" name="Nombre" placeholder="Nombre"> 

                                    <div style="color:#0094ff" v-if="resp.Error  == 'Email'">{{ resp.Message }}</div>
                                    <input type="text" v-model="user.Email" name="Email" placeholder="Email"> 

                                    <div style="color:#0094ff" v-if="resp.Error  == 'Contraseña'">{{ resp.Message }}</div>
                                    <input type="password" v-model="user.Password" name="Contraseña"placeholder="Contraseña">                             
                                    <button type="submit" class="btn btn-dark"  >
                                    <div >
                                     <a  v-on:click="createUser"   class="btn btn-primary btn-user btn-block">
                                    Registrarse
                                    </a>
                                    </div>
                                
                                </button>
                                </v-form>
                                
                       
                               <div class="col-md-12 modal-footer">
                                    <ul class="social-network social-circle" >
                                        <br>
                                    
                                        <a type="button" class="main-white-button" data-dismiss="modal"><b >Cerrar</b></a>
                                    </ul>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
     
        </div>
  
    </div>
      <script>
         
   
        
      </script>
      
</head>
<body>
      
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
       <div class="container">
           <div class="row">
                <div class="col-12">
                      <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home/index" class="logo" style="border-radius: 5px; width:130px; height:60px">
                             
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                          <li><a href="/home/index" class="active"> <b>Inicio</b> </a></li>
                          <li><a type="button"  class="active"   data-toggle="modal" data-target="#modalRegistroEmpresa" id="custom-modal" data-toggle="modal" > <b>Registra tu Negocio</b> </a></li>
                          <li><div type="button" class="btn main-white-button" data-toggle="modal" data-target="#myModal" id="custom-modal" data-toggle="modal"><a><i class="fa fa-sign-in"></i>Ingresar</a></div></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->

                      </nav>
                  <!-- Modal -->

                </div>
          </div>
     </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
  
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
      <script src="/publicBusiness/vendor/jquery/jquery.min.js"></script>
      <script src="/publicBusiness/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/publicBusiness/assets/js/owl-carousel.js"></script>
      <script src="/publicBusiness/assets/js/animation.js"></script>
      <script src="/publicBusiness/assets/js/imagesloaded.js"></script>
      <script src="/publicBusiness/assets/js/custom.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/VueMain.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
