<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/test.css">
    
</head>

<body>   
 
      
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
         <!-- Footer -->
        <footer style="margin-bottom:10px;position:absolute;bottom:0;" class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Public Business 2022</span>
                </div>
            </div>
        </footer>
       
 
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>