@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1721;
}

.form1 {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    transform: translateX(5%);
}

    .form1 input {
        width: 100%;
        height: 100%;
        background: none;
        color: #fff;
        padding-top: 20px;
        border: none;
        outline: 0px;
        transform: translateY(-20%);
   
    }

    .form1 .er_lbl-nombre {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid #c7c7c7;
        
    }

        .form1 .er_lbl-nombre:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 100%;
            border-bottom: 3px solid #2ecece;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

.er_text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;

}

.form1 input:focus + .er_lbl-nombre .er_text-nomb, .form1 input:valid + .er_lbl-nombre .er_text-nomb {
    transform: translateY(-80%);
    font-size: 14px;
    color: #2ecece;
 
}

.form1 input:focus + .er_lbl-nombre:after, .form1 input:valid + .er_lbl-nombre:after {
    transform: translateX(0%);
   
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .form1 {
        width: 85%;
    }
}
