@{
    ViewData["Title"] = "Home Page";

}
 @{ Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE html>
<html lang="en">

 
<body>
 
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Todo lo que buscas en un solo lugar</h6>
            <h2>Productos &amp; Servicios</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="submit" role="search" action="#">
            <div class="row">
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                          <option selected>Ciudad</option>
                          <option value="Cajamarca">Cajamarca</option>
                          <option value="Lima">Lima</option>
                          <option value="Piura">Piura</option>
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <input name="services_producto" class="searchText" placeholder="Ingrese búsqueda" autocomplete="off" required>
                  </fieldset>
              </div>
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                          <option selected>Rango de Precio</option>
                          <option value="100-250">S/100 - S/250</option>
                          <option value="250-500">S/250 - S/500</option>
                          <option value="500-1000">S/500 - S/1,000</option>
                          <option value="1000+">S/1,000 o más</option>
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-3">                        
                  <fieldset>
                      <button class="main-button"><i class="fa fa-search"></i> Buscar</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <ul class="categories">
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-01.png" alt="Inicio"></span> <b>Inicio</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-02.png" alt="Comida"></span> <b>Comida &amp; Vida</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-03.png" alt="Vehiculos"></span> <b>Vehículos</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-04.png" alt="Compras"></span> <b>Compras</b></a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-05.png" alt="Viajes"></span> <b>Viajes</b> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
 
 
</body>

</html>

