@{
    ViewData["Title"] = "Home Page";

}
 @{ Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE html>
<html lang="en">

 
<body>
 
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Todo lo que buscas en un solo lugar</h6>
            <h2>Productos &amp; Servicios</h2>
          </div>
        </div>
        <div class="  ">
          <form id="search-form" action="/home/search" method="post">
            <div class="row"  >
              <div class="col-lg-4 align-self-center"  >
                  <fieldset>
                      <select name="search.categoria" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                          <option selected value="0">Categoria </option>
                            @foreach(var cat in ViewBag.Categoria)
                            {
                               <option value="@cat.CategoriaId">@cat.Nombre</option>             
                                            
                            }
              
                      </select>
                  </fieldset>
              </div>         
              <div class="col-lg-4 align-self-center">
                 
                  <fieldset>
                      <input name="search.busqueda" class="searchText" placeholder="Ingrese búsqueda" autocomplete="off"  >
                  </fieldset>             
              </div>           
              <div class="col-lg-4 align-self-center" >                         
                  <fieldset>
                      <button type="submit" class="main-button"><i class="fa fa-search"></i> Buscar</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <ul class="categories">
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-01.png" alt="Inicio"></span> <b>Inicio</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-02.png" alt="Comida"></span> <b>Comida &amp; Vida</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-03.png" alt="Vehiculos"></span> <b>Vehículos</b> </a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-04.png" alt="Compras"></span> <b>Compras</b></a></li>
            <li><a href="#"><span class="icon"><img src="/publicBusiness/assets/images/search-icon-05.png" alt="Viajes"></span> <b>Viajes</b> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
 
 
</body>

</html>

