 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>INGRESAR</title>

    <!-- Bootstrap core CSS -->
    <link href="/publicBusiness/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/publicBusiness/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/publicBusiness.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/animated.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/owl.css">
    <link rel="stylesheet" href="/publicBusiness/assets/css/login_register.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" method="post" action="/Home/Login" >
                        <h1>Ingresar</h1>
                        <input type="text" name="email" placeholder="Email"> 
                        <input type="password" name="password"placeholder="Contraseña">
                        <button  type="submit" >
                             <a  class="btn btn-primary btn-user btn-block">
                            Ingresar
                            </a>
                        </button>
                       
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <br>
                                <a href="/Home/Register"><b>Registrarse</b></a>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>