<!DOCTYPE html>
 @{ Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";}
<html lang="en">
 

<body id="page-top">
    <div class="er_cont_User">
          <!-- Begin Page Content -->
                <div class="container-fluid">
                         <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">   </h1>
 
                    </div>

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">MIS SERVICIOS</h1>
                        <a href="/Empresa/AddServicio" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> AGREGAR</a>
                    </div>
             
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de Servicios</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Categoria</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Categoria</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                @foreach (var serv in ViewBag.servicios)
                                {
                                    <tr>
                                        <td>@serv.Nombre</td>
                                        <td>@serv.Descripcion</td>
                                        <td>S/@serv.Precio</td>
                                        <td>@serv.TipoServicio</td>
                                        <td style="width: 20px; text-align: center;">
                                            <a href="/Usuario/serv?id=@serv.ServicioId"><i class="fa fa-edit"></i> </a>
                                            <br>
                                            <a href=""><i class="fa fa-trash-alt"></i> </a>
                                        </td>
                                    </tr>
                                }
                                  
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                 </div>
    </div>


</body>

</html>